* {
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: var(--color-background-page);
    display: grid;
    grid-template-rows: var(--header-height) 1fr 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fony-family-main);
}

main p {
    color: var(--color-text-main);
    font-size: var(--font-size-main-text);
    margin: 20px;
}

.updates {
    max-width: 400px;
    color: var(--color-text-list);
    background-color: var(--color-background-list);
    padding: 30px;
}

.update-item::before {
    content: "- ";
}

.update-item {
    font-size: var(--font-size-list-term);
}

.update-description {
    font-size: var(--font-size-list-definition);
    margin-bottom: 15px;
    margin-left: 40px;
}