* {
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: var(--color-background-page);
    display: grid;
    grid-template-rows: var(--header-height) 1fr 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fony-family-main);
}

main p {
    color: var(--color-text-main);
    font-size: var(--font-size-main-text);
    margin: 20px;
}

.inventory-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

.inventory-img {
    border-radius: 10%;
}

.sell-form {
    background-color: var(--color-background-list);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.sell-form ul {
    list-style-type: none;
    line-height: 2;
}