* {
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: var(--color-background-page);
    display: grid;
    grid-template-rows: var(--header-height) 1fr 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fony-family-main);
    padding-top: var(--size-spacing-medium, 1rem);
}

main h1 {
    margin-top: var(--size-spacing-medium, 1rem);
    margin-bottom: var(--size-spacing-small, 0.5rem);
}

main p {
    color: var(--color-text-main);
    font-size: var(--font-size-main-text);
    margin: 20px;
}

.buy-form {
    background-color: var(--color-background-list);
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.buy-form dl {
    list-style-type: none;
    line-height: 2;
}